main {
    .carousel {
        margin: 1rem 0;

        .carousel-control {
            .bi {
                width: 1.3em;
                height: 1.3em;
                font-size: 1.3em;
            }
        }
    }
    section {
        padding: 1rem 0;
    }
    .title-page {
        @include title-page;
    }
    .word {
        background-color: $p-grey-light;
        padding: 1rem;
        border-radius: 1rem;
        
        .word-content {
            max-width: 90%;
            margin: auto;
    
            .word-text {
                text-align: center;
                font-size: 1.1rem;
            }
            .word-img {
                border-radius: 10rem 3rem 5rem 1rem;
            }
        }
    }
    .reinsurance {

        .reinsurance-list{
            padding: 0;
            list-style: none;
            margin: 0;

            .reinsurance-item {
                @include reinsurance-item;
                transition: background-color 1s, color 0.2s;

                .bi {
                    width: 1.5em;
                    height: 1.5em;
                    font-size: 1.3em;
                }
                .reinsurance-item-title {
                    font-family: freight-display-pro, serif;
                    font-weight: 600;
                    margin: 0;
                    padding-left: 0.5rem;
                }
                .reinsurance-item-text {
                    margin-left: 1rem;
                }
            }

        }
    }
    .article {
        
        .card .card-body {
            background-color: $p-grey-light;
            .card-title {
                font-family: freight-micro-pro, serif;
                font-weight: 600;
            }
            .btn {
                @include font-btn;
                transition: background-color 0.5s, border-color 0.5s, color 0.2s;
            }
            .btn-place {
                width: 8rem;
            }
        }
        
    }
    .where {
        iframe {
            max-width: 90%;
            max-height: 400px;
        }
        .where-text-content {
            margin: 1rem;

            .where-text {
                text-align: center;
            }
        }
        .btn {
            @include font-btn;
            transition: background-color 0.5s, border-color 0.5s, color 0.2s;

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
    
}

@include media-breakpoint-up(xs) {
    
}
@include media-breakpoint-up(sm) {
    .word {
        .word-img {
            max-width: 60%;
            margin: auto;
        }
    }
    .article .article-content .card {
        max-width: 45%;
        .card-text {
            height: 8rem;
        }
    }
    main .where .where-text-content {
        margin: 2rem;
    }
}
@include media-breakpoint-up(md) {
  
    .word {
        .word-text-content {
            margin: 1rem 2rem 1rem 0;
            
        }
        .word-img {
            max-width: 50%;
            margin: auto;
            padding: 1rem 0;
        }
    }
    .reinsurance .reinsurance-list .reinsurance-item {

        &:hover {
            background-color: $p-grey-light;
            color: $p-orange;
            transition: background-color 1s, color 0.2s;
            
        }
    }
    
    .article .article-content .card {
        .btn {
            &:hover {
                background-color: $p-orange-xlight;
                border-color: $p-orange-xlight;
                transition: background-color 0.5s, border-color 0.5s, color 0.2s;
            }
        }
    }

    .where .btn {
        &:hover {
            background-color: $primary;
            border-color: $primary;
            transition: background-color 0.5s, border-color 0.5s, color 0.2s;
        }
    }
}
@include media-breakpoint-up(lg) {
    main .word .word-content .word-text {
        font-size: 1.2rem;
        padding: 1rem;
    }
    .article .article-content .card .card-text {
            height: auto;
    }
}
@include media-breakpoint-up(xl) {

}