main {
    .breadcrumb {
        padding: 0.5rem 0;
    }
    .title-page {
        @include title-page;
    }
    .event-text {
        margin: 0.5rem 1rem;
        text-align: justify;
    }
    .event-header {
        .event-title {
            font-family: freight-macro-pro, serif;
            font-weight: 600;
            border-bottom: solid 0.15rem $p-green;
        }
        .event-picture {
            max-width: 90%;
            margin: auto;
        }
    }

    .event-where {
        .event-where-map {
            max-width: 90%;
            margin: 1rem auto;
            max-height: 350px;
        }
    }

    .btn {
        width: auto;
        @include font-btn;
        margin: 1rem auto;
        transition: background-color 0.5s, border-color 0.5s, color 0.2s;
    
        a {
            text-decoration: none;
            color: $white;
        }
    }

    
}

@include media-breakpoint-up(xs) {
    
}
@include media-breakpoint-up(sm) {
   
}
@include media-breakpoint-up(md) {
    .btn {
        &:hover {
            background-color: $primary;
            border-color: $primary;
            transition: background-color 0.5s, border-color 0.5s, color 0.2s;
        }
    }
}
@include media-breakpoint-up(lg) {
    main .word .word-content .word-text {
        font-size: 1.2rem;
        padding: 1rem;
    }
    .article .article-content .card .card-text {
            height: auto;
    }
}
@include media-breakpoint-up(xl) {

}