// *********************************************
// I define here all the varianbles of my projet
// *********************************************

// Project variables
// ***************** 


// Color project

$p-grey: #2D3540;
$p-orange-xlight: #F29F05;
$p-orange-light: #F28907;
$p-orange: #F25C05;
$p-grey-light: #F2DDD0;
$p-green: #799906;

// Bootstrap color

$primary: $p-grey;
$secondary: $p-orange-xlight;


// Mixin

