// *********************************************
// I define here all the varianbles of my projet
// *********************************************

// Project variables
// ***************** 


// Color project

$p-grey: #2D3540;
$p-orange-xlight: #F29F05;
$p-orange-light: #F28907;
$p-orange: #F25C05;
$p-grey-light: #F2DDD0;
$p-green: #799906;

// Bootstrap color

$primary: $p-grey;
$secondary: $p-orange-xlight;


// Mixin

@mixin title-page {
    font-family: freight-micro-pro, serif;
    font-weight: 600;
    color: $p-orange-light;
}

@mixin reinsurance-item {
    background-color: $p-orange-xlight;
    color: $white;
    border-radius: 0 2rem 2rem 2rem;
    margin: 0.5rem 1rem;
    padding: 1rem;
    opacity: 80%;

}

@mixin font-btn {
    font-family: freight-display-pro, serif;
    text-transform: uppercase;
    color: $p-grey-light;
    font-size: 1.2rem;
    color: $white;
}