// Find here the globals sccs 

html {
    font-size: 16px;
}

body {
    font-family: haboro-contrast-normal, sans-serif;
}



@include media-breakpoint-up(xs) {

}
@include media-breakpoint-up(sm) {

}
@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {
    .container-page {
        max-width: 1096px;
        margin: auto;
    }
}
@include media-breakpoint-up(xl) {

}




