.header {
   background-color: $primary;
   border-bottom: solid 0.1rem $p-green;
    
     .navbar {
          flex-direction: row-reverse;

          .header-desk-view {
               display: none;
          }

          .header-mobile-view {
               display: flex;
               
               .btn {
                    padding: 0.2rem 0.4rem;

                    &:hover {
                         .bi {
                              color: $primary;
                         }
                    }
                    .bi {
                         width: 1.5em;
                         height: 1.5em;
                         font-size: 1.5em;
                         color: $secondary;
                    }

               }
          }
          
          .navbar-brand {
               font-family: freight-micro-pro, serif;
               font-size: 1.5rem;
               font-weight: 500;
               color: $secondary;
               padding: 0.5rem;
               margin: 0;

               .bi {
                    width: 1.3em;
                    height: 1.3em;
                    font-size: 1.3em;
                    margin-right: 0.5rem;
                    display: none;
               }
          }
         

     }

     .offcanvas {
          width: 70%;
          opacity: 75%;

          .offcanvas-title {
               opacity: 100%;
               font-family: freight-micro-pro, serif;
               font-size: 1.5rem;
               font-weight: 500;
               color: $secondary;

          }
          .nav-item a {
               text-decoration: none;
               font-family: freight-micro-pro, serif;
               text-transform: uppercase;
          }
     }
}

@include media-breakpoint-up(xs) {

     
}
@include media-breakpoint-up(sm) {
     .header .navbar {
          .navbar-brand{
               .bi {
                    display: block
               }
          }
     }
}
@include media-breakpoint-up(md) {
     .header .navbar {
          flex-direction: row;

          .header-desk-view {
               display: block;
               
               .navbar-nav a {
                    color: $secondary;
                    text-decoration: none;
                    padding: 0.5rem;
               }
          }
          .header-mobile-view {
               display: none;
          }
          .navbar-nav{
               .nav-item {
                    a {
                         font-family: freight-micro-pro, serif;
                         text-transform: uppercase;
                         transition: background-color 1s, border-radius 1.5s, color 0.2s;
                         &:hover {
                              background-color: $p-orange-xlight;
                              color: $primary;
                              border-radius: 0.3rem;
                              transition: background-color 1.5s;
                              transition: border-radius 2s;
                              transition: color 0.2s;
                         }
                    }
                    .activ {
                         background-color: $p-orange-xlight;
                         color: $primary;
                         border-radius: 0.3rem;
                    }
               }
          }
     }
}
@include media-breakpoint-up(lg) {
    
}
@include media-breakpoint-up(xl) {

}